.competitions {
  background-color: #fff;
  padding: 8px 8px 0 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      font-size: 2.5rem;
    }
  }

  .clock-icon {
    width: 48px;
    height: 48px;
    transform: rotate(225deg);
  }

  .compettions-tab {
    margin-top: 8px;
  }
}
