.menu {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-around;
  padding: 16px;
  background-color: #fff;
  cursor: pointer;

  .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;

    .figure-icon {
      width: 30px;
      height: 50px;
    }
    .menu-title {
      font-weight: 400;
      font-size: 1.2rem;
      opacity: 0.7;
    }
  }

  .active-menu-tab {
    color: var(--primary);
    font-weight: 600 !important;
  }
}
