.search-box {
  width: 100%;
  position: relative;
  display: inline-block;

  input {
    width: 100%;
    height: 40px;
    border: none;
    background-color: #f2f2f2;
    padding: 0 40px;
    font-size: 1.2rem;
    border-radius: 8px;
    outline: none;
  }

  .icon {
    position: absolute;
    right: 0;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}
