.header-title {
  display: flex;
  justify-content: space-between;
}
.header-title h2 {
  margin: 2rem;
}

.header-search {
  float: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 1200px) {
  .header-title h2 {
    margin: 1rem;
    font-size: 45px;
  }
  .header-search {
    margin: 10px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
  }
}
