@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Vazirmatn";
		font-display: swap;
		src: url(/assets/fonts/Dxxo8j6PP2D_kU2muijlGMWWMmk.woff2)
				format("woff2 supports variations"),
			url(/assets/fonts/Dxxo8j6PP2D_kU2muijlGMWWMmk.woff2)
				format("woff2-variations");
		font-weight: 100 900;
	}

	html,
	body,
	#__next {
		height: 100%;
	}

	body {
		font-family: "Vazirmatn", sans-serif;
		-webkit-font-smoothing: antialiased;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}
