.container {
    width: 100%;
    /* min-height: 80vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
    overflow: scroll;
    height: calc(100vh - 300px);
    /* background-color: #e6e6e6; */
}

.accordion {
    /* direction: rtl; */
    width: 90%;
    text-align: right;
    background-color: #fff;
}

.accordionTitle {
    color: blue;
    display: flex;
    direction: rtl;
    gap: .5rem;
    align-items: center;
}

.accordionTitle p {
    margin: 0 !important;
    font-weight: bold;
}

.accordionTitle img {
    width: 30px;
    height: 30px;
}

.accordionDescriptionContainer {
    display: flex;
    align-items: center;
    gap: .5rem;
    direction: rtl;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: .5px solid #f9f9f9;
    box-sizing: content-box;
}

.accordionDescriptionContainer img {
    width: 30px;
    height: 30px;
}

.accordionDescriptionContainer p {
    width: 50px;
    min-height: 30px;
    display: flex;
    margin: 0.2rem;
    justify-content: center;
    align-items: center;
}

.skeleton {
    padding: 0 1rem;
    width: 100% !important;
    direction: rtl;
}