.searchContainer {
    /* width: 100%; */
    direction: rtl;
    border-radius: 8px;
    text-align: right;
}

.searchContainer span {
background-color: #f6f6f6;
}
.searchContainer input {
    background-color: #f6f6f6;
    }

.searchInput{
    
    border: none;
}

.searchIcon {
    color: #ccc;
    rotate: 90deg;
}