.container {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
    justify-content: flex-end;
    white-space: nowrap;
    direction: rtl;
    height: 60px;
}

.container::-webkit-scrollbar {
    display: none;
  }

.btn {

    margin-top: 2rem;
    border: none;
    background-color: #fff;
    color: #ccc;
    width: 80px;
    transition: all .2s ease;
}

/* .btn:hover{
    color: #000;
    border-bottom: 2px solid green;
} */

.activeBtn {

    align-items: center;
    color: #000;
    margin-top: 2rem;
    border: none;
    background-color: #fff;
    width: 80px;
    transition: all .2s ease;
    position: relative;
}
.active {
 width: 38px;
 height: 4px;
 background-color: green;
 border-radius: 10px 10px 0 0;
 text-align: center;
 position: absolute;
 right: 25%;
}

.deActive {
    width: 40px;
    height: 2px;
    border-radius: 10px 10px 0 0;
   }




