* {
  box-sizing: border-box;
  direction: rtl;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "appFont";
  src: url("./assets/iransans.ttf");
}

body {
  margin: 0;
  padding: 0;
  margin-left: 15vw;
  margin-right: 15vw;
  font-family: appFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


